<p id="notice"><%= notice %></p>
<div class="row">
  <div class="main-content-box store-profile small-12 columns">

    <div class="row">
      <div class="store-profile-titlebar">
        <div class="store-profile-title small-5 columns left"><%= @store.name %></div>
        <!-- <div class="store-survey-link small-2 columns center"><a href="#" id="store-survey-link">Been Here Before?</a></div> -->
        <div class="small-5 columns right text-right">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="store-profile-leftcol small-3 columns">
        <div id="store-profile-map">
          <%= image_tag @store.image.to_s if @store.image? %>
        </div>
      </div>

      <div class="store-profile-maincol small-9 columns">
        <div class="inner-content-box store-main-img-container">
          <%= image_tag @store.img_url, class: 'store-profile-main-img' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="store-profile-leftcol small-3 columns">
        <div class="store-profile-location">
          <p>
            100 College Ave<br>
            Berkeley, CA 94705<br>
            310-850-1928<br>
            <a href=""> <%= @store.website %></a>
          </p>
        </div>
        <div class="store-profile-review">
          <%= @store.description %>
        </div>
      </div>

      <div class="store-profile-maincol small-9 columns">
        <div class="inner-content-box store-profile-type-rating-container">
          <div class="store-profile-type-rating">
            <div class="attribute-label">Gusto Scores:</div>
            <ul class="type-ratings">
              <li class="type-rating-item" data-rating="<%=@store.adventure%>">Adventure <span class="type-rating-number"><%=@store.adventure%></span></li>
              <li class="type-rating-item" data-rating="<%=@store.convenience%>">Convenience <span class="type-rating-number"><%=@store.convenience%></span>
              </li>
              <li class="type-rating-item" data-rating="<%=@store.convenience%>">Bargain <span class="type-rating-number"><%=@store.convenience%></span></li>
            </ul>
            <div class="rating-tooltip"><i class="fa fa-question-circle tooltip-icon"></i> What are these?</div>
          </div>
        </div>

        <div class="store-profile-details-container inner-content-box">
          <div class="row">
            <div class="store-profile-details small-6 columns">
              <div class="store-profile-attributes-box">
                <div class="store-profile-attribute-type-header">
                  Goods
                </div>
                <!-- CATEGORIES-->
                <%= render "attribute_tag_list", name: 'Categories', list: @store.categories_names %>
                <%= render "stores/attribute_count_list", name: 'Prices', rating: @store.prices, count_type: 'fa fa-usd fa-fw' %>
                <%= render "stores/attribute_count_list", name: 'Variety', rating: @store.variety, count_type: 'fa fa-star-o fa-fw' %>
                <%= render "stores/attribute_count_list", name: 'Sales', rating: @store.sales, count_type: 'fa fa-tag fa-fw' %>
                <%= render "stores/attribute_count_list", name: 'Discounts', rating: @store.discounts, count_type: 'fa fa-star-o fa-fw' %>
              </div>
              <div class="store-profile-attributes-box">
                <div class="store-profile-attribute-type-header">
                  Space
                </div>
                <%= render "stores/attribute_count_list", name: 'Size', rating: @store.size, count_type: 'fa fa-building-o fa-fw' %>
                <%= render "stores/attribute_count_list", name: 'Organization', rating: @store.organization, count_type: 'fa fa-sitemap fa-fw' %>
                <%= render "stores/attribute_count_list", name: 'Busyness', rating: @store.busyness, count_type: 'fa fa-group fa-fw' %>
                <%= render "stores/attribute_count_list", name: 'Noise', rating: @store.noise, count_type: 'fa fa-volume-up fa-fw' %>
              </div>
            </div>
            <div class="store-profile-details small-6 columns">
              <div class="store-profile-attributes-box">
                <div class="store-profile-attribute-type-header">
                  Ambience
                </div>
                <%= render "attribute_tag_list", name: 'Style', list: @store.styles_names_degrees %>
                <%= render "attribute_tag_list", name: 'Personality', list: @store.personalities_names_degrees %>
                <%= render "attribute_tag_list", name: 'Scent', list: @store.scents_names_degrees %>
                <%= render "attribute_tag_list", name: 'Music', list: @store.music_styles_names_degrees %>
              </div>

              <div class="store-profile-attributes-box">
                <div class="store-profile-attribute-type-header">
                  Location
                </div>
                <% extra_tag = '<i class="fa fa-wheelchair"></i>' %>
                <%= render "stores/attribute_count_list", name: 'Parking', rating: @store.parking, count_type: 'fa fa-road fa-fw' %>
                <%= render "stores/attribute_text", name: 'Stores Nearby?', description: @store.stores_nearby %>
                <%= render "stores/attribute_text", name: 'Public Transit?', description: @store.public_transit %>
                <%= render "stores/attribute_text", name: 'Accessible? '+extra_tag, description: @store.accessible %>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>