<div class="row">
  <div class="main-content-box large-12 columns survey-menu">

        <div class="survey-menu-header">
          <h3>Create your Style Profile</h3>
          Complete as many surveys as you'd like! The more, the better!
          <div class="donelink">
            <%= link_to "I'm done ... take me to search!","/searches/new" %>
          </div>
        </div>
        <div class="row">
          <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4 survey-menu-container">
            <% @available_surveys.each do |survey| %>

              <li class="survey-box">
                <div class="survey-box-content">
                  <div class="survey-name">
                    <%= survey.name %>
                  </div>
                  <div class="survey-image">
                    <% question = survey.questions.take %>
                    <% answer = question.answers.take %>
                    <a href="<%= respond_survey_path(survey) %>">
                    <% if answer.image? %>
                      <%= image_tag answer.image.to_s %>
                    <% else %>
                      [No Image]
                    <% end %>
                    </a>
                  </div>
                  <div class="survey-status">
                    <% if @responses_per_survey[survey.id].count != 0 %>
                      <%= link_to raw('Completed! (click to take again)'), respond_survey_path(survey), class: :link_to_survey %>
                    <% else %>
                      <%= link_to 'Start the Survey!', respond_survey_path(survey), class: :link_to_survey %>
                    <% end %>
                  </div>
                </div>
              </li>

            <% end %>
          </ul>
        </div>
    <div class="row">
        <div class="survey-menu-footer">
        <%= link_to "I'm done ... Take me to search!","/searches/new" %>
        </div>
    </div>

  </div>
</div>
