<p id="notice"><%= notice %></p>
<div class="row">

  <div class="main-content-box survey-container">

    <%= form_tag responses_survey_path, method: :put do %>

        <% for question in @survey.questions %>

          <div class="row text-center survey-header">
            <h3><%= question.content %></h3>
            (Click as many as you'd like)
          </div>
          <div class="row">
            <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 survey-images-container">
              <% for answer in question.answers %>

                <li class="survey-image-box">
                  <div>
                    <% if @responded_answers.include?(answer.id) %>
                        <%= check_box_tag "answers_ids[]", answer.id, true, :id => "answers_id_#{answer.id}" %>
                        <label class="survey-image selected" for="answers_id_<%= answer.id %>"><%= image_tag answer.image.to_s if answer.image? %></label>
                    <% else %>
                        <%= check_box_tag "answers_ids[]", answer.id, false, :id => "answers_id_#{answer.id}" %>
                        <label class="survey-image" for="answers_id_<%= answer.id %>"><%= image_tag answer.image.to_s if answer.image? %></label>
                    <% end %>
                  </div>
                </li>

              <% end %>
            </ul>
          </div>

        <% end %>
        
        <div class="row">
          <div class="small-12 columns text-center">
            <div class="actions">
              <%= submit_tag "Send your answers!", :class => 'button' %>
              <br>
              <%= link_to 'Back', surveys_path %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>