<% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% @search.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@search) do |f| %>
    <div class="row">
      <div class="finder-main-bar small-12 columns">
        <div class="finder-header">
          I'm looking for stores...<br>
        </div>
        that sell
        <%= f.collection_select :category_id, Category.order(:name), :id, :name, {include_blank: true}, {:class => "finder-main-select"} %>
        and I want
        <%= f.collection_select :personality_id, Personality.order(:name), :id, :name, {include_blank: true}, {:class => "finder-main-select"} %>
      </div>
    </div>
    <div class="row">
      <div class="finder-extra-header small-12 columns">
        <a href="" class="toggle-extra-options">And I <em>specifically prefer</em> stores that are ...</a>
        <br><span class="gray-ital">(optional)</span>
      </div>
      <div id="finder-extra-options" class="inner-content-box small-12 columns">

        <div class="extra-option-container">
          <div class="flaticon-store1 extra-option-header-icon"></div>
          <div class="extra-option-header gusto">Space</div>
          <div class="extra-option">Large</div>
          <div class="extra-option">Cozy</div>
        </div>

        <div class="extra-option-container">
          <div class="flaticon-map32 extra-option-header-icon"></div>
          <div class="extra-option-header gusto">Location</div>
          <div class="extra-option">Urban</div>
          <div class="extra-option">Suburban</div>
        </div>

        <div class="extra-option-container">
          <div class="flaticon-full22 extra-option-header-icon"></div>
          <div class="extra-option-header gusto">Goods</div>
          <div class="extra-option">Affordable</div>
          <div class="extra-option">High-End</div>
        </div>

        <div class="extra-option-container">
          <div class="flaticon-bright1 extra-option-header-icon"></div>
          <div class="extra-option-header gusto">Ambience</div>
          <div class="extra-option">Mellow</div>
          <div class="extra-option">Bustling</div>
        </div>

        <div class="extra-option-container">
          <div class="flaticon-face3 extra-option-header-icon"></div>
          <div class="extra-option-header gusto">Character</div>
          <div class="extra-option">Friendly</div>
          <div class="extra-option">Hands-Off</div>
        </div>

        <div class="extra-options-hide">
          <a class="extra-options-hide-link">[Hide These Options]</a>
        </div>

      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Search', :class => 'button' %>
    </div>

<% end %>
