
<div class="row">
  <div class="finder-main-bar main-content-box">
    <%= render 'form' %>
  </div>
</div>

<% if @search_status !="" %>
    <div class="row">
      <div data-alert class="alert-box info radius">
        <%= @search_status %>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
<% end %>
<div id="store-results" style="display:block;">
  <!-- <div class="content-box-transparent store-result-query"></div> -->
  <% @results.each do |store| %>
      <div class="main-content-box store-result">

        <div class="row">
        
          <div class="store-result-details">
            <div class="store-result-top-bar">
              <%= link_to "View Store Profile", store_path(store) %>
            </div>
            <div class="store-result-title">
              <%= link_to store.name, store_path(store), class: "fade" %>
              <!-- <a href="<%= store_path(store) %>" class="fade"> <%= store.name %></a> -->
            </div>
            <div class="store-result-location">
              <% if !store.store_location.blank? %>
                  <% maptarget = "http://maps.google.com/?q="+store.store_location.formatted_address.to_s %>
                  <a href="<%= maptarget %>" target="_new">
                    <i class="fa fa-map-marker"></i><%= store.store_location.street_address %> | <%= store.store_location.city %>, <%= store.store_location.state %>  <%= store.store_location.postal_code %>
                  </a>
              <% end %>
            </div>
            <div class="inner-content store-result-attributes-box">

              <div class="store-result-type-rating">
                <ul class="type-ratings">
                  <li class="type-rating-item" data-rating="<%= store.adventure %>">Adventure <span class="type-rating-number"><%= store.adventure %></span></li>
             
                  <li class="type-rating-item" data-rating="<%= store.bargain %>">Bargain <span class="type-rating-number"><%= store.bargain %></span></li>  

                  <li class="type-rating-item" data-rating="<%= store.convenience %>">Convenience <span class="type-rating-number"><%= store.convenience %></span></li>                  
                </ul>
              </div>
              <%= render "attribute_tag_list_store_result", name: 'Categories', list: store.categories_names %>
              <%= render "attribute_tag_list_store_result", name: 'Style', list: store.styles_names_degrees %>
            </div>
          </div>
          <div class="inner-content-box store-result-main-img-box">
            <a href="../stores/<%= store.id %>"> 
              <img class="store-result-main-img" src="<%= store.image.to_s %>">
            </a>
          </div>

<!--           <div class="inner-content-box-shaded store-result-bottom-bar">
            <a href="../stores/<%= store.id %>">View Store Profile</a>
          </div> -->
        </div>
      
      </div>

  <% end %>
</div>
