<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Gusto" %></title>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic|Lato:100,300,400,700,100italic,300italic,400italic,700italic|Montserrat:400,700|Raleway:100,200,300,400,600,700|Oleo+Script+Swash+Caps|PT+Serif|Droid+Serif|Roboto+Slab:100,300,400,700|Montez|Vast+Shadow|Sacramento|Norican|Damion' rel='stylesheet' type='text/css'>
<!--   <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic|Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag "foundation-overrides" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "flaticon" %>
  <%= javascript_include_tag "script" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="wrapper">
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="sitename">
          <a href="/" class="sitename">Gusto</a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Left Nav Section -->

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
              <div class="small-3 columns">
                <label for="set-location" class="right inline">Location:</label>
              </div>
              <div class="small-6 columns">
                <input id="set-location" type="text" placeholder="City, State or ZIP" value="Berkeley, CA">
              </div>
              <div class="small-3 columns">
                <a href="#" id="set-location-button" class="set-location-button button secondary expand">Set</a>
              </div>
            </div>
          </li>
          <% if user_signed_in? %>
              <li class="has-dropdown">
                <a href="#">
                  <i class="fa fa-user"></i> <%= current_user.email %>
                </a>
                <ul class="dropdown">
                  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
                  <li><%= link_to 'Preferences', user_preferences_path, :class => 'navbar-link' %> </li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> </li>
                </ul>
              </li>
          <% else %>
              <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> </li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %> </li>
          <% end %>

        </ul>
      </section>
    </nav>
  </div>

  <% if notice %>
      <!-- <p class="alert alert-success"><%= notice %></p>    -->
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
  <div>
    <nav class="bottom-bar">
      <ul class="left">
        
      </ul>
      <ul class="right">
        <li><%= link_to "Contact", controller: "browse", action: "contact" %></li>
        <li><%= link_to "About", controller: "browse", action: "about" %></li>
        <li class="copyright">&copy; 2014 Gusto</li>
        <li class="gusto">Gusto</li>
      </ul>
    </nav>
  </div>
</div>

</body>
</html>